<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha512-iztkobsvnjKfAtTNdHkGVjAYTrrtlC7mGp/54c40wowO7LhURYl3gVzzcEqGl/qKXQltJ2HwMrdLcNUdo+N/RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha512-tqup5t5XyJXlvX8b/E9pI0swGA4AugszFqvdWASa2/484oj4HW7UaXKwRmnMLKFp3ZWeTwjjCh6J40AvdUQhrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Companion Detector</title>
    <script type=text/javascript src="{{ url_for('static', filename= 'script/script.js') }}"></script>

  </head>
  
  <body>
  
    <h1>Companion Detector</h1>
    <h3>Sample Images</h3>

    <div class="row">
      <div class="container">
        <div class="test_box box-01 col-xs-6 col-md-4">
          <div class="inner">
            <a href="sample1" class="test_click">
              <div class="flex_this">
                <span class="test_link">Link</span>
              </div>
            </a>
          </div>
        </div>
        <div class="test_box box-02 col-xs-6 col-md-4">
          <div class="inner">
            <a href="sample2" class="test_click">
              <div class="flex_this">
                <span class="test_link">Link</span>
              </div>
            </a>
          </div>
        </div>
        <div class="test_box box-03 col-xs-6 col-md-4">
          <div class="inner">
            <a href="#" class="test_click">
              <div class="flex_this">
                <span class="test_link">Link</span>
              </div>
            </a>
          </div>
        </div>
        <div class="test_box box-04 col-xs-6 col-md-4">
          <div class="inner">
            <a href="#" class="test_click">
              <div class="flex_this">
                <span class="test_link">Link</span>
              </div>
            </a>
          </div>
        </div>
        <div class="test_box box-05 col-xs-6 col-md-4">
          <div class="inner">
            <a href="#" class="test_click">
              <div class="flex_this">
                <span class="test_link">Link</span>
              </div>
            </a>
          </div>
        </div>
        <div class="test_box box-06 col-xs-6 col-md-4">
          <div class="inner">
            <a href="#" class="test_click">
              <div class="flex_this">
                <span class="test_link">Link</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h3>Methdology</h3>
    <p>Place powerpoint preview in the future here</p>

    <h3>Repository</h3>
    <p>Link to repo in the future here</p>


    
  </body>
  
</html>


